header,
footer {
  height: 10vh;
  background-color: #74ade3;
}

.content {
  padding: 2% 10%;
  min-height: 80vh;
}

.table {
  width: 100%;
  overflow-x: scroll;
}

.error {
  margin: 5px auto;
  width: max-content;
  padding: 5px 10px;
  background-color: tomato;
  opacity: 0.9;
  border-radius: 10px;
}

.loading {
  margin: 5px auto;
  width: max-content;
  padding: 5px 10px;
  background-color: var(--color-blue);
  opacity: 0.9;
  border-radius: 10px;
}

table {
  margin: 0 auto;
}

th {
  color: white;
  background-color: var(--color-blue);
  padding: 5px 20px;
}

td {
  padding: 5px 20px;
  cursor: pointer;
}

tr:hover td {
  background-color: var(--color-blue);
  color: white;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid lightgrey;
}

.box-detail {
  text-align: center;
  width: fit-content;
  max-width: 90vw;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px var(--color-blue);
}

.list-detail {
  text-align: left;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
}

.list-detail > * {
  margin: 5px 0;
}

.reload {
  padding: 5px 20px;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  margin: 5px auto;
}

.reload:hover {
  color: tomato;
  opacity: 1;
  background-color: white;
}
